.primaryHeader {
  background-color: var(--clr-black);
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 0.25);
}

.primaryHeaderInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.primaryNavigationList {
  display: flex;
  gap: 2rem;
}

.primaryNavigationLink {
  font-weight: var(--fw-bold);
  text-decoration: none;
}

.primaryNavigationLink:hover,
.primaryNavigationLink:focus,
.primaryNavigationLink.active {
  color: var(--clr-primary);
}

.mobileNavToggle {
  display: block;
}
@media only screen and (min-width: 65em) {
  .mobileNavToggle {
    display: none;
  }
}

@media only screen and (max-width: 65em) {
  .primaryNavigation {
    position: absolute;
    inset: 4rem 15vw auto 15vw;
    border-top: 0.25rem solid var(--clr-primary);
    background-color: var(--clr-black);
    visibility: hidden;
    rotate: x -90deg;
    transform-origin: top center;
    opacity: 0.3;
    transition: 300ms all ease-in-out;
  }
  .primaryNavigation[data-visible='true'] {
    opacity: 1;
    rotate: x 0deg;
    visibility: visible;
  }

  .primaryNavigationList {
    flex-direction: column;
    gap: 0;
  }

  .primaryNavigationLink {
    padding: 0.5rem 1rem;
    display: block;
  }
  .primaryNavigationLink:hover,
  .primaryNavigationLink:focus,
  .primaryNavigationLink.active {
    background-color: var(--clr-primary);
    color: var(--clr-white);
  }

  .mobileNavToggle {
    position: relative;
    width: 1.875rem;
    aspect-ratio: 1;
    border: 0;
    background: transparent;
    cursor: pointer;
  }
  .mobileNavToggle:focus-visible {
    outline: 3px solid var(--clr-white);
    outline-offset: 5px;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--clr-white);
    transition: all 300ms ease-in-out;
  }

  .hamburger::before {
    top: -8px;
  }

  .hamburger::after {
    bottom: -8px;
  }

  /* transform top and bottom slices of hamburger into a crossmark */
  .mobileNavToggle[aria-expanded='true'] .hamburger::before {
    top: 0;
    transform: rotate(45deg);
  }

  .mobileNavToggle[aria-expanded='true'] .hamburger::after {
    bottom: 0;
    transform: rotate(-45deg);
  }

  /* hide the middle one */
  .mobileNavToggle[aria-expanded='true'] .hamburger {
    background: transparent;
  }
}
